@model IEnumerable<Team>

<a asp-action="Index" asp-controller="Home" asp-route-team="" asp-route-teamname="">Home</a>
<br />
@foreach (var x in Model)
{
    <a asp-action="Index" asp-controller="Home" asp-route-team="@x.TeamId" asp-route-teamname="@x.TeamName">@x.TeamName</a>
    <br />
}